<div class="container-parcel_div">
  <div class="box-card-parcel" *ngFor="let p of parcelas">
    <div class="box-name-icon-parcel">
      <div class="box-title-parcela">
        <p>{{ p.name }}</p> 
      </div>
      <div class="box-img-parcel">
        <img src="assets/Parcel.svg" alt="Parcela" />
      </div>
    </div>
    <div class="box-characteristics">
      <div class="box-type-crop">
        <div class="box-img-type-crop">
          <img src="assets/TypeCrop.svg" alt="Tipo de Cultivo" />
        </div>
        <div class="box-title-type-crop">
          <p>{{ p.type_crop }}</p> 
        </div>
      </div>
      <div class="box-device">
        <div class="box-img-device">
          <img src="assets/Device.svg" alt="Dispositivo" />
        </div>
        <div class="box-title-device">
          <p>{{ p.device_model }}</p> 
        </div>
      </div>
    </div>
  </div>
</div>
