<div class="box-card-parcel">
    <div class="box-name-icon-parcel">
        <div class="box-title-parcela">
            <p>PARCELA 1</p>
        </div>
        <div class="box-img-parcel">
            <img src="assets/Parcel.svg" alt="">
        </div>
    </div>
    <div class="box-characteristics">
        <div class="box-type-crop">
            <div class="box-img-type-crop">
                <img src="assets/TypeCrop.svg" alt="">
            </div>
            <div class="box-title-type-crop">
                <p>LEGUMBRES</p>
            </div>
        </div>
        <div class="box-state-crop">
            <div class="box-img-state-crop">
                <img src="assets/StateCrop.svg" alt="">
            </div>
            <div class="box-title-state-crop">
                <p>GERMINACIÓN</p>
            </div>
        </div>
        <div class="box-device">
            <div class="box-img-device">
                <img src="assets/Device.svg" alt="">
            </div>
            <div class="box-title-device">
                <p>ROBOT298N</p>
            </div>
        </div>
    </div>
</div>