<div class="container-add-parcel">
    <h2 class="text-white text-xl mb-2">Agregar Nueva Parcela</h2>
    
    <form (ngSubmit)="saveParcel()">
      <label for="nombre">Nombre de la Parcela:</label>
      <input type="text" id="nombre" name="nombre" required>
  
      <label for="tipo">Tipo de Cultivo:</label>
      <select id="tipo" name="tipo">
        <option *ngFor="let type of cropTypes" [value]="type">{{ type }}</option>
      </select>
  
      <label for="estado">Estado de Crecimiento:</label>
      <select id="estado" name="estado">
        <option *ngFor="let state of growthStates" [value]="state">{{ state }}</option>
      </select>
  
  
      <button type="submit">Guardar Parcela</button>
      <button type="button" (click)="cancel()">Cancelar</button>
    </form>
  </div>
  