<div class="stats-main_cards1 mt-5 bg-amber-200 w-full flex items-start">
    <div class="temperature-card bg-green-400 w-1/2 flex flex-col items-center p-4">
        <div class="temperature-card-title text-center">
            <h2>TEMPERATURA</h2>
        </div>
        <div class="temperature-icon mt-4">
            <img src="plant-crop1.svg" alt="cargando..." class="w-24 h-24">
        </div>
        <div class="temperature-card-info mt-4 text-center">
            <p>Temperatura actual: 35*</p>
        </div>
    </div>

    <div class="humidity-card bg-green-400 w-1/2 flex flex-col items-center p-4">
        <div class="humidity-card-title text-center">
            <h2>HUMEDAD</h2>
        </div>
        <div class="humidity-icon mt-4">
            <img src="plant-crop1.svg" alt="cargando..." class="w-24 h-24">
        </div>
        <div class="humidity-card-info mt-4 text-center">
            <p>Humedad actual: 35%</p>
        </div>
    </div> 
</div>

<div class="stats-main_cards2 bg-amber-200 w-full flex items-start">
    <div class="air-quality-card bg-green-400 w-1/2 flex flex-col items-center p-4">
        <div class="air-quality-card-title text-center">
            <h2>CALIDA DEL AIRE</h2>
        </div>
        <div class="air-quality-icon mt-4">
            <img src="plant-crop1.svg" alt="cargando..." class="w-24 h-24">
        </div>
        <div class="air-quality-card-info mt-4 text-center">
            <p>Calidad actual: moderada</p>
        </div>
    </div>

    <div class="solar-radiation-card bg-green-400 w-1/2 flex flex-col items-center p-4">
        <div class="solar-radiation-card-title text-center">
            <h2>RADIACIÓN SOLAR</h2>
        </div>
        <div class="solar-radiation-icon mt-4">
            <img src="plant-crop1.svg" alt="cargando..." class="w-24 h-24">
        </div>
        <div class="solar-radiation-card-info mt-4 text-center">
            <p>55 WATS</p>
        </div>
    </div> 
</div>


<div class="stats-main_grafic bg-amber-200 w-full flex items-start">
    <div class="grafic-card bg-green-400 w-full flex flex-col items-center p-4">
        <div class="grafic-card-title text-center">
            <h2>GRÁFICA GENERAL</h2>
        </div>
        <div class="grafic-icon mt-4">
            <img src="plant-crop1.svg" alt="cargando..." class="w-24 h-24">
        </div>
    </div>

</div>

