<div class="stats-container text-white p-6 rounded-lg">
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="stat-card graph-card p-6 rounded-lg flex flex-col items-center">
        <h2 class="text-lg font-bold">TEMPERATURA</h2>
        <img src="/assets/crops/temperature.svg" alt="Temperatura" class="w-20 h-20 mt-3">
        <p class="text-3xl font-semibold mt-3">25°C</p>
        <div class="w-full bg-gray-700 h-2 mt-2 rounded">
          <div class="bg-white h-2 w-1/3 rounded"></div>
        </div>
  
        <!-- grafica temperatura -->
        <div class="graph-card p-6 rounded-lg flex flex-col items-center mt-4">
          <h2 class="text-lg font-bold">GRÁFICA TEMPERATURA</h2>
          <p-chart type="line" [data]="chartDataTemp" [options]="chartOptionsTemp"></p-chart>
        </div>
      </div>
      
      <div class="stat-card graph-card p-6 rounded-lg flex flex-col items-center">
        <h2 class="text-lg font-bold">HUMEDAD</h2>
        <img src="/assets/crops/humedad.svg" alt="Humedad" class="w-20 h-20 mt-3">
        <p class="text-3xl font-semibold mt-3">37%</p>
        <div class="w-full bg-gray-700 h-2 mt-2 rounded">
          <div class="bg-white h-2 w-2/5 rounded"></div>
        </div>
  
        <!-- grafica humedad -->
        <div class="graph-card p-6 rounded-lg flex flex-col items-center mt-4">
          <h2 class="text-lg font-bold">GRÁFICA HUMEDAD</h2>
          <p-chart type="line" [data]="chartDataHum" [options]="chartOptionsHum"></p-chart>
        </div>
      </div>
    </div>
    
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="stat-card graph-card p-6 rounded-lg flex flex-col items-center">
        <h2 class="text-lg font-bold">CALIDAD DE AIRE</h2>
        <img src="/assets/crops/aire.svg" alt="Calidad del aire" class="w-20 h-20 mt-3">
        <p class="text-lg font-semibold mt-3">CALIDAD: Moderada</p>
        <div class="flex">
          <img src="/assets/crops/aire1.svg" alt="Calidad del aire" class="w-16 h-16 mt-3">
          <img src="/assets/crops/aire2.svg" alt="Calidad del aire" class="w-16 h-16 mt-3">
          <img src="/assets/crops/aire3.svg" alt="Calidad del aire" class="w-16 h-16 mt-3">
        </div>
  
        <!-- grafica calidad de sire -->
        <div class="graph-card p-6 rounded-lg flex flex-col items-center mt-4">
          <h2 class="text-lg font-bold">GRÁFICA CALIDAD DEL AIRE</h2>
          <p-chart type="line" [data]="chartDataAir" [options]="chartOptionsAir"></p-chart>
        </div>
      </div>
      
      <div class="stat-card graph-card p-6 rounded-lg flex flex-col items-center">
        <h2 class="text-lg font-bold">RADIACIÓN SOLAR</h2>
        <img src="/assets/crops/radiacion.svg" alt="Radiación solar" class="w-20 h-20 mt-3">
        <p class="text-3xl font-semibold mt-3">458 Wats</p>
  
        <!-- grafica luz solar -->
        <div class="graph-card p-6 rounded-lg flex flex-col items-center mt-4">
          <h2 class="text-lg font-bold">GRÁFICA LUZ SOLAR</h2>
          <p-chart type="line" [data]="chartDataSun" [options]="chartOptionsSun"></p-chart>
        </div>
      </div>
    </div>
  </div>
  