.stats-container {
  width: 100%;
  margin: auto;
  background-color: #2c2d35;
}
.stat-card, .graph-card {

  text-align: center;
  border: 1px solid #17171c;
  box-shadow: 0px 0px 20px 1px #23242b;
  height: 100%;
}