<div class="stats-container  text-white p-6 rounded-lg">
    <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="stat-card graph-card p-6 rounded-lg flex flex-col items-center">
            <h2 class="text-lg font-bold">TEMPERATURA</h2>
            <img src="/assets/crops/temperature.svg" alt="Temperatura" class="w-20 h-20 mt-3">
            <p class="text-3xl font-semibold mt-3">25°C</p>
            <div class="w-full bg-gray-700 h-2 mt-2 rounded">
                <div class="bg-white h-2 w-1/3 rounded"></div>
            </div>
        </div>
        
        <div class="stat-card graph-card p-6 rounded-lg flex flex-col items-center">
            <h2 class="text-lg font-bold">HUMEDAD</h2>
            <img src="/assets/crops/humedad.svg" alt="Humedad" class="w-20 h-20 mt-3">
            <p class="text-3xl font-semibold mt-3">37%</p>
            <div class="w-full bg-gray-700 h-2 mt-2 rounded">
                <div class="bg-white h-2 w-2/5 rounded"></div>
            </div>
        </div>
    </div>
    
    <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="stat-card graph-card p-6 rounded-lg flex flex-col items-center">
            <h2 class="text-lg font-bold">CALIDAD DE AIRE</h2>
            <img src="/assets/crops/aire.svg" alt="Calidad del aire" class="w-20 h-20 mt-3">
            <p class="text-lg font-semibold mt-3">CALIDAD: Moderada</p>
            <div class="flex">
                <img src="/assets/crops/aire1.svg" alt="Calidad del aire" class="w-16 h-16 mt-3">
                <img src="/assets/crops/aire2.svg" alt="Calidad del aire" class="w-16 h-16 mt-3">
                <img src="/assets/crops/aire3.svg" alt="Calidad del aire" class="w-16 h-16 mt-3">
            </div>
        </div>
        
        <div class="stat-card graph-card p-6 rounded-lg flex flex-col items-center">
            <h2 class="text-lg font-bold">RADIACIÓN SOLAR</h2>
            <img src="/assets/crops/radiacion.svg" alt="Radiación solar" class="w-20 h-20 mt-3">
            <p class="text-3xl font-semibold mt-3">458 Wats</p>
        </div>
    </div>
    
    <div class="graph-card p-6 rounded-lg flex flex-col items-center">
        <h2 class="text-lg font-bold">GRÁFICA TEMPERATURA</h2>
        <img src="graph-icon.svg" alt="Gráfica" class="w-full mt-3">
    </div>
</div>
