.box-main-container {
  overflow: hidden;
  border-radius: 2rem;
  background-color: #2C2D35;
}

/*BOTONES CAMBIA PESTAÑA*/

.button-pagination_button.active {
  background-color: #2c2d35;
  color: #06bb93;
  border-bottom: 5px solid #06bb93;
}

.button-pagination-div {
  width: 100%;
  color: #ffffff;
}

.button-pagination_button {
  height: 3.875rem;
  background-color: #2c2d35;
  width: 33.3%;
  border-bottom: 5px solid #1e1e27;
}

.button-pagination_button:hover {
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
}
