<div class="bg-gray-700 h-full m-5">
  <div class="button-pagination-div">
    <button
      class="button-pagination_button"
      [ngClass]="{ active: selectedButton === 'mi cultivo' }"
      (click)="selectButton('mi cultivo')"
    >
      <p class="text_nav-color">MI CULTIVO</p>
    </button>

    <button
      class="button-pagination_button"
      [ngClass]="{ active: selectedButton === 'estadisticas' }"
      (click)="selectButton('estadisticas')"
    >
      <p class="text_nav-color">ESTADÍSTICAS</p>
    </button>

    <button
      class="button-pagination_button"
      [ngClass]="{ active: selectedButton === 'parametros' }"
      (click)="selectButton('parametros')"
    >
      <p class="text_nav-color">PÁRAMETROS AMBIENTALES</p>
    </button>
  </div>
</div>
