<div class="box-main-information-parcel">
  <div class="box-about-parcel">
    <div class="box-title-icon-parcel">
      <div class="box-logo-parcel">
        <img src="assets/IconParcela.svg" alt="" />
      </div>
      <div class="box-title-information">
        <p>MIS PARCELAS</p>
      </div>
    </div>
    <div class="box-actions-parcel">
      <button class="btn-filter">
        <img src="assets/filter.svg" alt="" />
      </button>
      <button class="btn-add-parcel"  routerLink="/parcel/add">
        <img src="assets/add.svg" alt="" />
        Agregar parcela
      </button>
    </div>
  </div>
  <div class="search-bar">
    <div class="actions">
      <button><span class="material-icons">search</span></button>
    </div>
    <input type="text" placeholder="BUSCAR PARCELA"/>
  </div>

</div>
