<div class="mycrop-main mt-5 bg-amber-200 w-full flex items-start">
    <div class="mycrop-card bg-green-400 w-1/2 flex flex-col items-center p-4">
        <div class="mycrop-card-title text-center">
            <h2>CULTIVO</h2>
        </div>
        <div class="mycrop-icon mt-4">
            <img src="plant-crop1.svg" alt="cargando..." class="w-24 h-24">
        </div>
        <div class="mycrop-card-info mt-4 text-center">
            <p>Tipo cultivo: Cultivo 1</p>
            <p>Información : 01/01/2021</p>
        </div>
    </div>

    <div class="device-card bg-yellow-400 w-1/2 flex flex-col items-center p-4">
        <div class="device-card-title text-center">
            <h2>DISPOSITIVO</h2>
        </div>
        <div class="device-icon mt-4">
            <img src="device.svg" alt="cargando..." class="w-24 h-24">
        </div>
        <div class="device-card-info mt-4 text-center">
            <p>Modelo: Dispositivo 1</p>
            <p>Estado: Activo</p>
            <p>Fecha de instalación: 01/01/2021</p>
            <p>Fecha de mantenimiento: 01/01/2022</p>
            <button class="btn-device mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">RETIRAR</button>
        </div>
    </div>
</div>