<div class="mycrop-main mt-10 mb-10 flex items-start box-container-main">
  <div
    class="mycrop-card w-1/2 flex flex-col items-center p-12 gap-14 box-card-crop"
  >
    <div class="mycrop-card-title box-title-crop">
      <p class="crop-name">{{ cropType?.crop_type_name  || 'Cargando...' }}</p>
    </div>
    <div class="mycrop-icon box-icon-crop">
      <img src="assets/crops/CropIcon.svg" alt="cargando..." />
    </div>
    <div class="mycrop-card-info box-information-crop">
      <div class="box-type-crop">
        <div class="box-son-type-crop">
          <p>Tipo cultivo:</p>
        </div>
        <div class="box-value-type-crop">
          {{ cropType?.crop_type_name || 'Cargando...' }}
        </div>
      </div>
      <div class="box-information">
        <div class="box-son-information">
          <p>Información:</p>
        </div>
        <div class="box-value-information">
          {{ cropType?.description || 'Sin descripción' }}
        </div> 
      </div>
    </div>
  </div>

  <div class="device-card w-1/2 flex flex-col items-center p-12 gap-14 h-full">
    <div class="device-card-title text-center box-title-device">
      <p>DISPOSITIVO</p>
    </div>
    <div class="device-icon box-icon-device">
      <img src="device.svg" alt="cargando..." />
    </div>
    <div class="device-card-info box-information-device">
      <div class="box-model">
        <div class="box-son-model">
          <p>Modelo:</p>
        </div>
        <div class="box-value-model">{{ device?.Id_model }}</div>
      </div>
      <div class="box-estate-device">
        <div class="box-son-state-device">
          <p>Estado:</p>
        </div>
        <div class="box-value-state">{{ device?.Id_status }}</div>
      </div>
      <div class="box-instalation">
        <div class="box-son-instalation">
          <p>Fecha de instalación:</p>
        </div>
        <div class="box-value-instalation">
          4/4/2024
        </div>
      </div>
      <div class="box-maintenance">
        <div class="box-son-maintenance">
          <p>Fecha de mantenimiento:</p>
        </div>
       Sin mantenimiento
      </div>
      <button
        class="btn-device mt-6 bg-blue-500 hover:bg-blue-700 font-bold p-6"
      >
        RETIRAR
      </button>
    </div>
  </div>
</div>
